<div class="container">
        <h1>Perfil de usuario</h1>
        <div class="user-profile">
            <h2>Información del usuario:</h2>
            <ul>
                <li>Nombre: {{user.name}}</li>
                <li>Rol: {{user.role}}</li>
                <li>Items en Carrito: {{user.cart}}</li>
                <li>Historial de Compras: </li>
            </ul>
        </div>
    </div>